<footer style="background:#345555;padding-bottom:0;margin-bottom:0;bottom:0;">
    <div class="container-fluid">

    <div class="row">
      <div class="col-sm-8 margin-20">
        <ul class="list-inline social">
          <li style="color:snow; font-size:18px;">Connect with us on</li>
          <li><a href="https://www.facebook.com/profile.php?id=100013978755241"><i class="fa fa-facebook" style="color:snow;font-size:16px;"></i></a></li>
          <li><a href="https://twitter.com/ocnigeria"><i class="fa fa-twitter" style="color:snow;font-size:16px;"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" style="color:snow;font-size:16px;"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-4 text-right" style="text-align:center; color:snow;font-weight:bolder;font-family:'Montserrat', sans-serif;font-size:16px;">
        <p><small>Copyright &copy; 2017. All rights reserved. <br>

      </div>
    </div>

  </div>
</footer>
