<!DOCTYPE html>
<html lang="en">

<head>
    <title>Open Contract App</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">





</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">




                    </li>
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/userHome">Dashboard</a>
                    </li>

                    <li>
                        <li role="presentation"><a href="/showSavedPlan">Plans</a>
                        </li>

                        <li>
                            <li role="presentation"><a href="/showSavedTender">Tenders</a>
                            </li>

                            <li>
                                <li role="presentation"><a href="/logout">Logout</a>
                                </li>
                </ul>


                </ul>
            </nav>
            <h3 class="text-muted">Open Contract App</h3>
        </div>



        <br>
        <br> {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}


        <footer class="footer">
            <p>&copy; Company 2016</p>
        </footer>

    </div>
</body>

</html>