<!DOCTYPE html>
<html lang="en">

<head>
    <title>Open Contract App</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <!-- narrow

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
-->

    <!-- jQuery library     <script src="../static/js/signUp.js"></script>-->
    <meta charset="utf-8">

    <script src="../static/js/jquery-3.1.1.js"></script>

    <!-- using bootstrap list-group to display our items dynamically -->

    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




    <!-- after that edit release -->




    <script>
        //update database for particular release with data added to form in above script

        $(function() {

            GetReleases(1);
            $('#btnUpdate').click(function() {
                $.ajax({
                    url: '/updateRelease',
                    data: {
                        description: $('#editDescription').val(),
                        website: $('#editUrl').val(),
                        tag: $('#edittag :selected').text(),
                        id: localStorage.getItem('editId')
                    },
                    type: 'POST',
                    success: function(res) {
                        $('#editModal').modal('hide');


                        // Re populate the grid
                        //GetReleases();
                        GetReleases(1);
                        //Refresh data from server
                        //location.reload(true);

                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });


        //get all releases from DB


        function GetReleases(_page) {

            var _offset = (_page - 1) * 2;
            $.ajax({
                url: '/getRelease',
                type: 'POST',
                data: {
                    offset: _offset
                },
                success: function(res) {
                    console.log(res);

                    var itemsPerPage = 2;

                    var releaseObj = JSON.parse(res);

                    $('#ulist').empty();
                    $('#listTemplate').tmpl(releaseObj[0]).appendTo('#ulist');
                    var total = releaseObj[1]['total'];
                    var pageCount = total / itemsPerPage;
                    var pageRem = total % itemsPerPage;
                    if (pageRem != 0) {
                        pageCount = Math.floor(pageCount) + 1;
                    }

                    $('.pagination').empty();
                    var pageStart = $('#hdnStart').val();
                    var pageEnd = $('#hdnEnd').val();


                    if (pageStart > 5) {
                        var aPrev = $('<a/>').attr({
                                'href': '#'
                            }, {
                                'aria-label': 'Previous'
                            })
                            .append($('<span/>').attr('aria-hidden', 'true').html('&laquo;'));
                        $(aPrev).click(function() {
                            $('#hdnStart').val(Number(pageStart) - 5);
                            $('#hdnEnd').val(Number(pageStart) - 5 + 4);
                            GetReleases(Number(pageStart) - 5);
                        });
                        var prevLink = $('<li/>').append(aPrev);
                        $('.pagination').append(prevLink);
                    }



                    for (var i = Number(pageStart); i <= Number(pageEnd); i++) {

                        if (i > pageCount) {
                            break;
                        }

                        var aPage = $('<a/>').attr('href', '#').text(i);

                        $(aPage).click(function(i) {
                            return function() {
                                GetReleases(i);
                            }
                        }(i));
                        var page = $('<li/>').append(aPage);
                        if ((_page) == i) {
                            $(page).attr('class', 'active');
                        }

                        $('.pagination').append(page);


                    }
                    if ((Number(pageStart) + 5) <= pageCount) {
                        var nextLink = $('<li/>').append($('<a/>').attr({
                                'href': '#'
                            }, {
                                'aria-label': 'Next'
                            })
                            .append($('<span/>').attr('aria-hidden', 'true').html('&raquo;').click(function() {
                                $('#hdnStart').val(Number(pageStart) + 5);
                                $('#hdnEnd').val(Number(pageStart) + 5 + 4);
                                GetReleases(Number(pageStart) + 5);

                            })));
                        $('.pagination').append(nextLink);
                    }





                },
                error: function(error) {
                    console.log(error);
                }
            });
        }



        function Delete() {
            $.ajax({
                url: '/deleteRelease',
                data: {
                    id: localStorage.getItem('deleteId')
                },
                type: 'POST',
                success: function(res) {
                    var result = JSON.parse(res);
                    if (result.status == 'OK') {
                        $('#deleteModal').modal('hide');
                        GetReleases(1);
                    } else {
                        alert(result.status);
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }


        //get a partifular release via id/OCID info and populte edit form/modal with it 
        function Edit(elm) {

            localStorage.setItem('editId', $(elm).attr('data-id'));
            $.ajax({
                url: '/getReleaseById',
                data: {
                    id: $(elm).attr('data-id')
                },
                type: 'POST',
                success: function(res) {
                    console.log(res);

                    // Parse the received JSON string
                    var data = JSON.parse(res);

                    //Populate the Pop up
                    $('#editDescription').val(data[0]['Description']);

                    $('#edittag').val(data[0]['Tag']).change();

                    $('#editUrl').val(data[0]['Website']);


                    // Trigger the Pop Up
                    $('#editModal').modal();



                },
                error: function(error) {
                    console.log(error);
                }
            });
        }





        //get a partifular release via id/OCID info and delete it 
        function ConfirmDelete(elem) {
            localStorage.setItem('deleteId', $(elem).attr('data-id'));
            $('#deleteModal').modal();
        }
    </script>










    <style>
        .trash {
            color: rgb(209, 91, 71);
        }
        
        .panel-body .checkbox {
            display: inline-block;
            margin: 0px;
        }
        
        .list-group {
            margin-bottom: 0px;
        }
    </style>

</head>


<body>


    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">



                    </li>
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Dashboard</a>
                    </li>

                    <li>
                        <li role="presentation"><a href="/showSavedPlan">Plans</a>
                        </li>

                        <li>
                            <li role="presentation"><a href="/showSavedTender">Tenders</a>
                            </li>


                            <li role="presentation"><a href="/showSavedAward">Awards</a>
                            </li>


                            <li role="presentation"><a href="/showSavedContract">Contracts</a>
                            </li>



                            <li>
                                <li role="presentation"><a href="/logout">Logout</a>
                                </li>


                </ul>
            </nav>
            <h3 class="text-muted">Open Contract Dashboard</h3>
        </div>




        <!--            <h1>Welcome Home !!</h1> -->


        <!-- using bootstrap list-group to display one item

 <div class="jumbotron">

            <div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Release Title</h4>
    <p class="list-group-item-text">Release ID</p>
  </a>
    </div>
        
 
            -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center container">
                    <h1 class="wow fadeIn">Releases / Projects</h1>
                    <br />
                </div>
            </div>
        </div>



        <!--items to be displayed row by row per release-->
        <script id="listTemplate" type="text/x-jQuery-tmpl">

            <li class="list-group-item">
                <div class="checkbox">
                    <label>
               <p>OCID: ${OCID}</p>
                <br>
                <p>Description: ${Project_Description}</p>
                <br>
                <p>Current Tag: ${Release_Tag}</p>
                <br>
                <p>Published Date: ${Published_Date}</p>
                <br>
            </label>
                </div>
                <div class="pull-right action-buttons">
                    <a data-id=${OCID} onclick="Edit(this)"><span class="glyphicon glyphicon-pencil"></span></a>

                    <a data-id=${OCID} onclick="ConfirmDelete(this)"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </li>
        </script>







        <!-- edit popup UI triggered by edit icon above-->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                        <h4 class="modal-title" id="editModalLabel">Update Release</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">

                            <div class="form-group">
                                <label for="message-text" class="control-label">Description:</label>
                                <textarea class="form-control" id="editDescription"></textarea>
                                
             <span class="help-block">Required</span>
                            </div>


                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Website:</label>
                                <input type="text" class="form-control" id="editUrl">
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="tag">Release Tag/Stage</label>
                                <div class="col-md-4">
                                    <select id="edittag" name="tag" class="form-control">

            <option value="">Release Tag/Stage:</option>
            <option value="Planning">Planning</option>
            <option value="Tender">Tender</option>
            <option value="Tender Amendment">Tender Amendment</option>
            <option value="Tender Update">Tender Update</option>
            <option value="Tender Cancellation">Tender Cancellation</option>
            <option value="Award">Award</option>
            <option value="Award Update">AwardUpdate</option>
            <option value="Award Cancellation">Award Cancellation</option>
            <option value="Contract">Contract</option>
            <option value="Contract Update">Contract Update</option>
            <option value="Contract Amendment">Contract Amendment</option>
            <option value="Implementation">Implementation</option>
            <option value="Implementation Update">Implementation Update</option>
            <option value="Contract Terminated">Contract Terminated</option>
            <option value="Compiled">Compiled</option>
           </select>


             <span class="help-block">Required</span>
                                </div>
                            </div>



                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="btnUpdate" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>










        <!-- delete popup UI triggered by delete icon above-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="text-align:center;">
                        <h4 class="modal-title" style="color:red;" id="deleteModalLabel">You are going to Delete this forever !!</h4>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="Delete()">Delete</button>
                    </div>
                </div>
            </div>
        </div>







        <br>
        <br> {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}


        <div class="row">
            <div class="col-md-12">

                <div class="panel-body">



                    <!-- items are appended to this section of webpage dynamically by jquery AJAX via the ulist tag-->
                    <ul id="ulist" class="list-group">





                    </ul>





                    <!--dynamic pagination UI  -->
                    <nav>
                        <ul class="pagination">






                        </ul>
                    </nav>


                    <!--static pagination UI 
            <nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
        <li><a href="#">5</a>
        </li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

-->




                </div>

            </div>
        </div>
    </div>




    <input type="hidden" id="hdnStart" value="1" />
    <input type="hidden" id="hdnEnd" value="5" />



    <p>Create a
        <a href="/showNewRelease">
            <b>New Release or Contracting Process?</b></a>
    </p>
    <br>

    <pre>Create a <a href="/showNewPlan"><b>New Plan?</b></a>
View <a href = "/showSavedPlan"><b>Procurement Plans</b></a></pre>
    <br>


    <pre>Create a <a href = "/showNewTender"><b>New Tender?</b></a>
View <a href="/showSavedTender"><b>Tenders</b></a></pre>
    <br>

<pre>Create an <a href = "/showNewAward"><b>Award?</b></a>
View <a href="/showSavedAward"><b>Awards</b></a></pre>
    <br>


<pre>Create a <a href = "/showNewContract"><b>Contract?</b></a>
View <a href=" /showSavedContract"><b>Contracts</b></a></pre>
    <br>


 









    <footer class="footer">
        <p>&copy; Company 2016</p>
    </footer>

    </div>
</body>

</html>